
<html>
    <head>
        <title>Horarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link th:href="@{/css/master.css}" rel="stylesheet" type="text/css"/>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header">

        </header>
        <div class="movie" style="background-image:">
            <img src="https://m.media-amazon.com/images/I/7103d-g1quL._AC_SY741_.jpg" alt="..." width="139" height="203"/>
        </div>
   
    </body>
</html>
